

header{
  display: flex;
  justify-content: row;
  height: 5%;
    letter-spacing: 5px;
    background-color: #ffc6ff;
    padding: 10px;
    box-shadow: 2px 4px 10px 3px rgb(222, 135, 210);
}

nav ul{
  display: flex;
  color: rgb(238, 111, 204);
    text-decoration: none;
    list-style-type: none;
}

li{
  padding-left: 15%;
}

footer{
  background-color: #ffc6ff;
  display: flex;
  justify-content: center;
}

.boton{
  border-radius: 25%;
  background-color: #ffc6ff;
  border-color: rgb(238, 111, 204);;
  padding: 5px 10px;
  margin: 2px;
}

.boxGeneral{
  display: flex;
  justify-content: center;
}

.imagen{
  width: 250px;
}

.containerCards{
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}

.card{
  margin: 20px;
  background-color: #f1dff1;
  width: 250px;
  height: 500px;
}

.cardDetallada{
  display: flex;
  background-color: #f1dff1;
  margin: 20px;
}

.agregarCarrito{
  background-color: rgb(222, 135, 210);
  border-radius: 20px;
  border-color: rgb(196, 10, 10);
}
